<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"-->
<!--"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--xmlns:h="http://xmlns.jcp.org/jsf/html"-->
<!--xmlns:ui="http://xmlns.jcp.org/jsf/facelets"-->
<!--xmlns:f="http://xmlns.jcp.org/jsf/core"-->
<!--xmlns:p="http://primefaces.org/ui">-->
<!--<f:view>-->
<!--<h:form>-->
<!--<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />-->
<!--&lt;!&ndash;<h:outputLabel value="#{m.oi}" for="btn"/>&ndash;&gt;-->
<!--&lt;!&ndash;<h:commandButton id="btn" value="VAI MANOLO" actionListener="#{testeBean.init}"/>&ndash;&gt;-->
<!--<h:selectOneMenu value="#{testeBean.projeto}" converter="entityConverter">-->
<!--<f:selectItems value="#{testeBean.projetos}" var="projeto" itemLabel="#{projeto.nome}" itemValue="#{projeto}"/>-->
<!--</h:selectOneMenu>-->
<!--<h:commandButton id="btn" value="VAI MANOLO" actionListener="#{testeBean.construct}"/>-->
<!--</h:form>-->
<!--</f:view>-->

<!--</html>-->

<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        template="WEB-INF/templates/default.xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui">

<ui:define name="content">
    <h:form>
        <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"/>
        <!--<h:outputLabel value="#{m.oi}" for="btn"/>-->
        <!--<h:commandButton id="btn" value="VAI MANOLO" actionListener="#{testeBean.init}"/>-->
        <h:selectOneMenu value="#{testeBean.projeto}" converter="entityConverter">
            <f:selectItems value="#{testeBean.projetos}" var="projeto" itemLabel="#{projeto.nome}"
                           itemValue="#{projeto}"/>
        </h:selectOneMenu>
        <h:commandButton id="btn" value="VAI MANOLO" actionListener="#{testeBean.construct}"/>
    </h:form>
</ui:define>

</ui:composition>